Project1_Arduino_NodeRED/flows.json
[
    {
        "id": "831a879d902e4c88",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0de2ba7559c32c3b",
        "type": "ui_gauge",
        "z": "831a879d902e4c88",
        "name": "",
        "group": "54754d91fdb2555d",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temprature Gauge",
        "label": "°C",
        "format": "{{value}}",
        "min": "-20",
        "max": "+60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 630,
        "y": 200,
        "wires": []
    },
    {
        "id": "9817e4944e277b5a",
        "type": "ui_gauge",
        "z": "831a879d902e4c88",
        "name": "",
        "group": "54754d91fdb2555d",
        "order": 7,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity Gauge",
        "label": "°C",
        "format": "{{value}}",
        "min": "-20",
        "max": "+60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 620,
        "y": 300,
        "wires": []
    },
    {
        "id": "40622c325ae004b0",
        "type": "ui_chart",
        "z": "831a879d902e4c88",
        "name": "",
        "group": "54754d91fdb2555d",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Tempreture Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 630,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "fda597c9866d06aa",
        "type": "ui_chart",
        "z": "831a879d902e4c88",
        "name": "",
        "group": "54754d91fdb2555d",
        "order": 8,
        "width": 0,
        "height": 0,
        "label": "Humidity Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 620,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "34cebc91c69c070d",
        "type": "ui_button",
        "z": "831a879d902e4c88",
        "name": "",
        "group": "54754d91fdb2555d",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "DHT Log",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 600,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "24f6e811701abe66",
        "type": "ui_slider",
        "z": "831a879d902e4c88",
        "name": "",
        "label": "Servo",
        "tooltip": "",
        "group": "54754d91fdb2555d",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "180",
        "step": 1,
        "className": "",
        "x": 590,
        "y": 520,
        "wires": [
            [
                "ec35c70e15a968a7"
            ]
        ]
    },
    {
        "id": "43a8dd055b8eda25",
        "type": "ui_colour_picker",
        "z": "831a879d902e4c88",
        "name": "",
        "label": "NeoPixel Color Picker",
        "group": "54754d91fdb2555d",
        "format": "rgb",
        "outformat": "string",
        "showSwatch": true,
        "showPicker": false,
        "showValue": false,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "false",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 640,
        "y": 600,
        "wires": [
            [
                "076ffb0ddf97311d"
            ]
        ]
    },
    {
        "id": "ec35c70e15a968a7",
        "type": "mqtt out",
        "z": "831a879d902e4c88",
        "name": "",
        "topic": "servo",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "486d28a631d21bd8",
        "x": 770,
        "y": 520,
        "wires": []
    },
    {
        "id": "9b523e084cebe520",
        "type": "mqtt out",
        "z": "831a879d902e4c88",
        "name": "",
        "topic": "lights/neopixel",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "486d28a631d21bd8",
        "x": 1080,
        "y": 600,
        "wires": []
    },
    {
        "id": "076ffb0ddf97311d",
        "type": "function",
        "z": "831a879d902e4c88",
        "name": "Parse RGB Values",
        "func": "msg.payload = msg.payload.replace(\"rgb(\", \"\").replace(\")\"),\"\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 600,
        "wires": [
            [
                "9b523e084cebe520"
            ]
        ]
    },
    {
        "id": "62fb20c89548da88",
        "type": "mqtt in",
        "z": "831a879d902e4c88",
        "name": "",
        "topic": "Tempdata",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "486d28a631d21bd8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 260,
        "wires": [
            [
                "611a511755c5c654",
                "5136410c1d12de14",
                "18b76353abd136b0"
            ]
        ]
    },
    {
        "id": "611a511755c5c654",
        "type": "function",
        "z": "831a879d902e4c88",
        "name": "Extract Tempreture",
        "func": "var input = msg.payload;\ninput = input.trim();\nvar values = input.split(',');\n\nvalues = values.map(function (value) {\n    return parseFloat(value.trim());\n});\n\nmsg.payload = values[0];\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 220,
        "wires": [
            [
                "0de2ba7559c32c3b",
                "40622c325ae004b0"
            ]
        ]
    },
    {
        "id": "5136410c1d12de14",
        "type": "function",
        "z": "831a879d902e4c88",
        "name": "Extract Humidity",
        "func": "var input = msg.payload;\ninput = input.trim();\nvar values = input.split(',');\n\nvalues = values.map(function (value) {\n    return parseFloat(value.trim());\n});\n\nmsg.payload = values[1]; \nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 320,
        "wires": [
            [
                "9817e4944e277b5a",
                "fda597c9866d06aa"
            ]
        ]
    },
    {
        "id": "36cc40bf596f2e42",
        "type": "file",
        "z": "831a879d902e4c88",
        "name": "",
        "filename": "D:\\Master of CS in Genova\\IoT\\nodered_data\\datalog.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 750,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "18b76353abd136b0",
        "type": "function",
        "z": "831a879d902e4c88",
        "name": "Add timestamp",
        "func": "var timestamp = new Date().toISOString();\nvar value = msg.payload;\n\nmsg.payload = timestamp + \", \" + value;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 140,
        "wires": [
            [
                "36cc40bf596f2e42"
            ]
        ]
    },
    {
        "id": "a6bb4ea37fb767eb",
        "type": "mqtt in",
        "z": "831a879d902e4c88",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "93d4cb18069a4aba",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 420,
        "wires": [
            [
                "78f3ccd4825de0db"
            ]
        ]
    },
    {
        "id": "78f3ccd4825de0db",
        "type": "ui_numeric",
        "z": "831a879d902e4c88",
        "name": "",
        "label": "numeric",
        "tooltip": "",
        "group": "54754d91fdb2555d",
        "order": 7,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 380,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "54754d91fdb2555d",
        "type": "ui_group",
        "name": "My Dashboard",
        "tab": "7d6e3cf6d37624a0",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "486d28a631d21bd8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "93d4cb18069a4aba",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt://mqtt.eclipse.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7d6e3cf6d37624a0",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
